<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>登录页面</title>
<script type="text/javascript" src="webjars/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<button id="login">登录</button>

<script type="text/javascript">
$(function(){
	$("#login").click(function(){
		 $.ajax({
             type: "POST",
             url: "/login",
             data: {},
             dataType: "text",
             success: function(data){
            	 if(data){
            		 window.location = "/home";
            	 }
             }
         });
	});
})
</script>

</body>
</html>